.page-node-type-center, .page-node-type-teachings, .page-node-type-newsletter, .page-node-type-contact {
 .content {
  .field--name-body {
   background: #fff;
   padding: 25px;
   margin-top: 17px;
   border-radius: 5px;
  } 
 }
 .region-content h1 { 
  display: none;
}
} 

