@media screen and (min-width: 1200px) {
#block-donate-2 {
    display: none;
}
#block-views-block-promo-first-block-2 {
 display: none ;
}

#block-views-block-promo-second-block-2 {
 display: none;
}

#block-views-block-promo-third-block-2 {
 display: none;
}

#block-socialmediafooter {
 display: none;
}

}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
 #block-socialiconsheader {
  padding-right: 133px;
 }
}


